{% extends "base.html" %}
{% block title %}About SQLI{% endblock %}
{% block content %}
<style>
  h2 h3 p{
    color: black;
  }

  body{
     background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80' );
     background-repeat:  round;
     background-size: 100% 100vh;
   }
   .content{
    padding: 30px;
   }
   img{
     width: 400px;
     height: 200px;
   }

   </style>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mongoSQLI">Mongo SQLI</a></li>
                <li><a href="/redisSQLI">Redis SQLI</a></li>
                <li><a href="/testCode/">Test Code</a></li>
                <li><a href="/dashboard/">Dashboard</a></li>
                
            </ul>
        </div>
    </body>
    <div class="content">
      <img src= "https://academy.avast.com/hs-fs/hubfs/New_Avast_Academy/SQL%20injection/What%20is%20a%20SQL%20injection.png?width=660&name=What%20is%20a%20SQL%20injection.png")>
<h3>About SQL Injection</h3>
<p>SQL injection is a code injection technique that might destroy your database.
SQLI is one of the most common web hacking techniques, and it
 is the placement of malicious code in SQL statements, via web page input.
</br>SQL injection usually occurs when you ask a user for input, like their username/userid, and instead of a name/id,
  the user gives you an SQL statement that you will unknowingly run on your database.</p>

<h3>SQL Injection Based on 1=1 is Always True</h3>
<p>The original purpose of the code was to create an SQL statement to select a user, with a given user id.
  If there is nothing to prevent a user from entering "wrong" input, the user can enter some "smart" input like this:</br>
  UserId: 
  77 OR 1=1.</br>Example:</p>
  <p class="query" >SELECT * FROM Users WHERE UserId = 77 OR 1=1; </p>
  <p>The SQL above is valid and will return ALL rows from the "Users" table, since OR 1=1 is always TRUE.
    Does the example above look dangerous? What if the "Users" table contains names and passwords? 
    The SQL statement above is much the same as this:</p>
    <p class="query">SELECT UserId, Name, Password FROM Users WHERE UserId = 77 or 1=1;</p>
    <p>A hacker might get access to all the user names and passwords in a database, by simply inserting 77 OR 1=1 into the input field.</p>
    <h3>SQL Injection Based on ""="" is Always True</h3>
    <p>Here is an example of a user login on a web site:<br>
      Username: John Doe Password: myPass<br>Example:
    </p>
    <p class="query">uName = getRequestString("username");<br>
      uPass = getRequestString("userpassword");<br>
      
      sql = 'SELECT * FROM Users WHERE Name ="' + uName + '" AND Pass ="' + uPass + '"'</p>
      <p>Result:</p>
      <P class="query">SELECT * FROM Users WHERE Name ="John Doe" AND Pass ="myPass"</P>

      <p>A hacker might get access to user names and passwords in a database by simply inserting " OR ""=" into the user name or password text box:<br>
        Username: " or ""=" Password: " or ""="<br>
        The code at the server will create a valid SQL statement like this:<br>
        Result:</p>
      <P class="query">SELECT * FROM Users WHERE Name ="" or ""="" AND Pass ="" or ""=""</P>
      <p>The SQL above is valid and will return all rows from the "Users" table, since OR ""="" is always TRUE.</p>
      <h3>SQL Injection Based on Batched SQL Statements </h3>
      <p>Most databases support batched SQL statement.

        A batch of SQL statements is a group of two or more SQL statements, separated by semicolons.
        
        The SQL statement below will return all rows from the "Users" table, then delete the "Suppliers" table.<br>Example:</p>
        <p class="query">SELECT * FROM Users; DROP TABLE Suppliers</p>
        <p>Look at the following example:</p>
        <p class="query">txtUserId = getRequestString("UserId");<br>
          txtSQL = "SELECT * FROM Users WHERE UserId = " + txtUserId;</p>
        <p>And the following input:<br>
          User id: 
          105; DROP TABLE Suppliers   <br>
          The valid SQL statement would look like this:</p>
        <p class="query">SELECT * FROM Users WHERE UserId = 105; DROP TABLE Suppliers;</p>
        <h3>Use SQL Parameters for Protection</h3>
        <p>To protect a web site from SQL injection, you can use SQL parameters.

          SQL parameters are values that are added to an SQL query at execution time, in a controlled manner.<br>
          ASP.NET Razor Example
        </p>
        <p class="query">txtUserId = getRequestString("UserId");<br>
          txtSQL = "SELECT * FROM Users WHERE UserId = @0";<br>
          db.Execute(txtSQL,txtUserId);</p>
        <p>Note that parameters are represented in the SQL statement by a @ marker.

          The SQL engine checks each parameter to ensure that it is correct for its column and are treated literally, and not as part of the SQL to be executed.
        <br>Another Example:</p>
        <p class="query">txtNam = getRequestString("CustomerName");<br>
          txtAdd = getRequestString("Address");<br>
          txtCit = getRequestString("City");<br>
          txtSQL = "INSERT INTO Customers (CustomerName,Address,City) Values(@0,@1,@2)";<br>
          db.Execute(txtSQL,txtNam,txtAdd,txtCit);</p>

        <h3>Read more about mongoDB and Redis SQLI</h3>
<div>
  <button id="mongoBtn" type="button" class="btn btn-primary"><span></span>MongoDB SQLI</button>
  <button id="redisBtn" type="button" class="btn btn-primary"><span></span>Redis SQLI</button>
  </button>
</div>
<script type="text/javascript">
  document.getElementById("mongoBtn").onclick = function () {
      location.href = "/mongoSQLI";
  };
</script>
<script type="text/javascript">
  document.getElementById("redisBtn").onclick = function () {
      location.href = "/redisSQLI";
  };
</script>
</div>
{% endblock %}
