{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<style>
      body{
       background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('https://images.unsplash.com/photo-1546387903-6d82d96ccca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
       background-repeat: no-repeat;
       background-size: 100% 100vh;
     }
</style>
<body>
  <div class="navbar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About SQLI</a></li>
          <li><a href="/testCode/">Test Code</a></li>
      </ul>
  </div>
</body>
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>

      <p>
        <!-- <strong>ID:</strong> {{ session['USER']['_id'] }} <br> -->
        <strong>Userame:</strong> {{ session['USER']['username'] }} <br>
        <strong>Email:</strong> {{ session['USER']['email'] }}
      </p>
    
    </div>
  
  </div>
{% endblock %}