{% extends "base.html" %}

{% block title %}Sign-Up{% endblock %}
{% block content %}

<div style="float:left;">
  <form name="signup_form" method="POST">
    <h3 align="center">Create an Account</h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <p class="error error--hidden"></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div style="float:right;">
  <form method="POST" name="signin_form" >
    <h3 align="center">Sign-In</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <p class="error error--hidden"></p>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock %}