{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }

  .signup_form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    }
    .signup_form h1 {
      color: #1c8adb;
      margin-bottom: 30px;
    }

    .input-box
    {
      border-radius: 20px;
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      border: 1px solid #999;
      outline: none;
    } 

    button
    {
      color: #fff;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      font-size: 15px;
      margin: 10px 0;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .signin-btn
    {
      background-color: #1c8adb;
    }

    img
    {
      width: 70px ;
      margin-top: -60px;
    }
</style>
<body>
  <form name="signup_form" method="POST">
    <div class="signup_form">
    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
    <h1>Sign Up</h1>
    <form>
      <input
      type="text"
      class="input-box"
      id="username"
      name="username"
      placeholder="Enter username"
    />
    <input
      type="email"
      class="input-box"
      id="email"
      name="email"
      placeholder="Enter email"
    />
    <input
    type="password"
    class="input-box"
    id="password1"
    name="password1"
    placeholder="Enter password"
  />
  <input
      type="password"
      class="input-box"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
      <!-- <input type="username" id="username" name="username" class="input-box" placeholder="Username">
      <input type="password" id="password" name="password" class="input-box" placeholder="Password"> -->
      <p class="error error--hidden"></p>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>Have an account? <a href="/user/login">Sign In</a></p>
    </form>
  </div>
</form>
</body>
{% endblock %}
